<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
        <form novalidate="true" name="ac.albumForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input 
              class="form-control"
              ng-model="ac.album.item.name"
              id="name" 
              name="name" 
              type="text"
              autocomplete="off"
              required="true"
              ng-minlength="5"
            />
              
              <div class="errors">
                <ul>
                  <li ng-if="ac.albumForm.$dirty && ac.albumForm.name.$error.required">
                    Name filed is required
                  </li>
                  <li ng-if="ac.albumForm.$dirty && ac.albumForm.name.$error.minlength">
                    Name should have minimum 5 characters
                  </li>
                </ul>
              </div>
          </div>
          <div class="form-group">
            <button 
              type="submit" 
              class="btn btn-primary" 
              ng-click="ac.save($hide)"
              ng-disabled="ac.albumForm.$invalid">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>