<h1>Albums</h1>
<table class="table" ng-if="ac.album.isNotEmpty()">
  <tr>
    <th>Name</th>
    <th>Created at</th>
    <th>Actions</th>
  </tr>
  <tr ng-repeat="album in ac.album.items">
    <td><a ui-sref="showAlbum({id: album.id})">{{album.name}}</a></td>
    <td>{{album.createdAt}}</td>
    <td>
      <a ui-sref="showAlbum({id: album.id})" class="btn btn-xs btn-success">show</a>
      <span class="btn btn-xs btn-danger" ng-click="ac.destroy(album)">destroy</span>
    </td>
  </tr>
</table>
<div class="jumbotron" ng-if="ac.album.isEmpty()">
  <p>There are no albums</p>
</div>
<button 
  type="button" 
  class="btn btn-lg btn-primary" 
  bs-modal="newAlbumModal" 
  data-template-url="views/albums/modals/new_album.html"
  data-animation="am-fade-and-slide-top"
  data-title="New album">Create album
</button>