<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">{{asc.album.item.name}}</h3>
    <button 
      class="btn btn-primary btn-xs" 
      style="margin-left:20px;"
      bs-modal="newAlbumModal" 
      data-template-url="views/photos/modals/new_photo.html"
      data-animation="am-fade-and-slide-top"
      data-controller="PhotoCtrl"
      data-controller-as="pc"
      data-title="New album">Add photo
    </button>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Name</th>
        <td>{{asc.album.item.name}}</td>
      </tr>
      <tr>
        <th>Create date</th>
        <td>{{asc.album.item.createdAt}}</td>
      </tr>
      <tr>
        <th>Photos</th>
        <td>{{asc.album.item.photos.length}}</td>
      </tr>
    </table>
    <div ng-controller="PhotosCtrl as plc">
      <hr>
      <h4>Album photos</h4>
      <div class="photos-panel clearfix">
        <div ng-repeat="photo in asc.album.item.photos" class="min">
          <button class="btn btn-xs btn-danger" ng-click="plc.removePhoto(photo)">x</button>
          <a href="{{photo.url}}" target="_blank">
            <img ng-src="{{photo.url}}" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>