<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
        <form novalidate="true" name="pc.photoForm">
          <div class="form-group">
            <label for="url">Url</label>
            <input 
              class="form-control"
              ng-model="pc.photo.item.url"
              id="url" 
              name="url" 
              type="text"
              autocomplete="off"
              ng-pattern="/(https|http):\/\/.*(jpg|png|gif)$/i"
              required="true"
            />
              
              <div class="errors">
                <ul>
                  <li ng-if="pc.photoForm.$dirty && pc.photoForm.url.$error.required">
                    Url filed is required
                  </li>
                  <li ng-if="pc.photoForm.$dirty && pc.photoForm.url.$error.pattern">
                    Wrong Url format
                  </li>
                </ul>
              </div>
          </div>
          <div class="form-group">
            <button 
              type="submit" 
              class="btn btn-primary" 
              ng-click="pc.save($hide)"
              ng-disabled="pc.photoForm.$invalid">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>