  <a class="dropdown-toggle" type="button" id="dropdownTopMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{pos.title}}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownTopMenu">
    <li ng-repeat="pos in pos.nested" ng-include="'/scripts/components/top_menu/views/menu_element_'+pos.type()+'.html'">
  </ul>
