<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="{{pos.getClass()}}" ng-repeat="(state,pos) in menu" ng-include="'/scripts/components/top_menu/views/menu_element_'+pos.type()+'.html'">
      </li>
    </ul>
  </div>
</div>